<%- include("../includes/header.ejs", {title:"Add New account"}); %>
    <h1>Add New account</h1>
    <form action="/account/insert" method="get">
        account firstName: <input id="account_first" name="account_first" type="text" />
        <br />
        account lastName: <input id="account_last" name="account_last" type="text" />
        <br />
        account email: <input id="account_email" name="account_email" type="text" />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>