<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
        }
        .header, .footer ,h1{
            background-color: blue;
            color: white;
            padding: 15px;
        }
        .column {
            float: left;
            padding: 15px;
        }
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        .menu {
            width: 20%;
        }
        .content {
            width: 75%;
        }
        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .menu li {
            padding: 8px;
            margin-bottom: 8px;
            background-color: #33b5e5;
            color: #ffffff;
        }
        .menu li:hover {
            background-color: #0099cc;
        }
    </style>
    <title><%= title %></title>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

</head>
<body style="margin-left:20px;">