<%- include("../includes/header.ejs", {title:"Add New resume"}); %>
<h1>Add New resume</h1>
<form action="/resume/insert" method="POST">
    <input type="hidden" id="account_id" name="account_id" value="<%= skills[0].account_id %>">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= skills[0].resume_id %>">
    resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />
    Schools
    <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; schools.length > i; i++ ) { %>
        <option value="<%= schools[i].school_id %>"><%= schools[i].school_name%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>

    <br/>
    Companies
    <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; companies.length > i; i++ ) { %>
        <option value="<%= companies[i].company_id %>"><%= companies[i].company_name%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br /> <br/>

    Skills
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skills.length > i; i++ ) { %>
        <option value="<%= skills[i].skill_id %>"><%= skills[i].skill_name%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>