<%- include("../includes/header.ejs", {title:"first - View All"}); %>

<h1>Resumes</h1>
        <a href="/resume/add/selectuser">Add New resume</a> <br />

        <br />

        <table border="1">
            <tr><th>First_Name</th><th>Last_Name</th><th>Resume_Name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].first_name %></td>
                <td><%= result[i].last_name %></td>
                <td><%= result[i].resume_name %></td>
                <td><button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>'">Edit</button></td>



            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>