<%- include("../includes/header.ejs", {title: "Update " + result[0].resume_name}); %>

<h1>Update <%= result[0].resume_name%></h1>
<%if(locals.was_successful){%>
    <div class="col-md-12">
        <div id="messsage" class="alert alert-success col-md-4">
            <%= result[0].resume_name%> was successfully saved %>
        </div>
    </div>
<%}%>
<form action="/resume/update" method="get">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= result[0].resume_id %>">
    resume_name: <input id="resume_name" name="resume_name" type="text" value="<%= result[0].resume_name%>"/>
    <br />
    <input type="submit" />
</form>



<%- include("../includes/footer.ejs"); %>

</html>