<%- include("./includes/header.ejs", {title: title}); %>

<div class="header">
    <h1>Fresh Resumes</h1>
    <p>Welcome to my web app :)</p>
</div>

<div class = "clearfix">
    <div class = "column menu">
        <a>
            <a href="/company/all"><li >Companies</li></a>
            <a href="/account/all"><li>Accounts</li></a>
            <a href ="/address/all"><li>Addresses</li></a>
            <a href="/skill/all"><li>Skills</li></a>
            <a href="/resume/all"><li>Resumes</li></a>
        </ul>
    </div>

<div class ="column content">
    <a href="/company/all"><p>Companies - View All</p></a>
</br>
    <a href="/account/all"><p>Accounts - View All</p></a>
<br>
    <a href="/address/all"><p>Addresses - View All</p></a>
<br>
    <a href="/skill/all"><p>Skills - View All</p></a>

<br>
    <a href="/resume/all"><p>Resumes - View All</p></a>
</div>
</div>


<div class ="footer">

</div>

<%- include("./includes/footer.ejs"); %>
