<%- include("../includes/header.ejs", {title: "Update " + result[0].last_name}); %>

<h1>Update <%= result[0].first_name%> <%= result[0].last_name%></h1>
<form action="/skill/update" method="get">
    <input type="hidden" id="skill_id" name="skill_id" value="<%= result[0].skill_id %>">
    skill_name: <input id="skill_name" name="skill_name" type="text" value="<%= result[0].skill_name%>"/>
    <br />
    description: <input id="description" name="description" type="text" value="<%= result[0].description%>"/>

    <br />

    <input type="submit" />
</form>



<%- include("../includes/footer.ejs"); %>

</html>