<%- include("../includes/header.ejs", {title:"Company - View All"}); %>

<h1>Companies</h1>
<div class ="column menu">
    <ul>
        <a href="/company/add"><li>Add New Company</li></a> <br />
    </ul>
</div>
        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/company/?company_id=<%= result[i].company_id %>"><%= result[i].company_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/company/edit/?company_id=<%= result[i].company_id %>'">Edit</button>
                    <form action="/company/delete/" style="display:inline;">
                        <input type="hidden" name="company_id" id="company_id" value="<%= result[i].company_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>