<%- include("../includes/header.ejs", {title:"Companies - " + result[0].account_name}); %>
    <h1>Address</h1>
    <ul>
        <li>Street: <%= result[0].street %></li>
        <li>Zipcode: <%= result[0].zip_code %></li>

    </ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>